---
import Layout from "../layouts/Layout.astro";
---

<Layout title="About the project">
  <h1 class="text-white">about the project</h1>

  <p class="text-white">
    The space x Langind project is a landing page for the space x rocket.
  </p>
</Layout>
