---

---

<header class="py-8 px-4 max-auto max-w-xl lg:py-16">
  <div class="mx-auto text-center mb-8 lg:mb-16">
    <h2 class="mb-4 text-5xl -tracking-tight font-extrabold text-white">
      SpaceX Landing 🚀
    </h2>
    <p class="font-light text-gray-500 sm:text-xl dark:text-gray-400">
      All the information about SpaxeX Landing
    </p>
  </div>

  <nav
    class="flex flex-col items-center justify-between w-full text-center md:flex-row"
  >
    <a class="text-white" href="http://">Last Launch</a>
    <a class="text-white" href="http://">Upcoming Launch</a>
  </nav>
</header>
